[Desktop Entry]
Name=Control Parental
Comment=Control de acceso a sitios web
Exec=tuquito-control-parental
Icon=/usr/lib/tuquito/tuquito-control-parental/control.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
